<a href="https://colab.research.google.com/github/ubaid-shah/DA_new_batch_July2022_onward/blob/main/Python_Session_3_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 3 -- Data Structures in Python

![](https://i.imgur.com/KS5Xjk9.jpg)

**Data Structures** are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built.

### List
![](https://i.imgur.com/bMeAt4T.jpg)

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.


A list is created by placing elements inside square brackets '[ ]' , separated by commas. A list can have any number of items and they may be of different types (integer, float, string, etc.). A list can also have another list as an item.

**Access List Elements**

There are various ways in which we can access the elements of a list.
List Index

We can use the index operator '[ ]' to access an item in a list. In Python, indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

Trying to access indexes other than these will raise an IndexError. The index must be an integer. We can't use float or other types, this will result in TypeError.

Nested lists are accessed using nested indexing.


![](https://i.imgur.com/cMQqg22.jpg)

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

Ordered Mutable Sequence

In [ ]:
a=[]            # Empty list

In [ ]:
type(a)

list

In [ ]:
a.append('Ubaid')       # to add element in the list use append()

In [ ]:
a

['Ubaid']

In [ ]:
a.append('Rakshita')

In [ ]:
a

['Ubaid', 'Rakshita']

In [ ]:
a.append('Medhir')

In [ ]:
a

['Ubaid', 'Rakshita', 'Medhir']

In [ ]:
a=a.append('Ritesh')

In [ ]:
a

In [ ]:
print(a)

None

In [ ]:
a=[]
a.append('Shirt')

In [ ]:
a

['Shirt']

In [ ]:
a=a+'Pant'       # can't concatenate string to list

TypeError: ignored

In [ ]:
a=a+['Pant']           # concatenate list to the list

In [ ]:
a

['Shirt', 'Pant']

In [ ]:
a+('Jeans',)

TypeError: ignored

In [ ]:
a+['Jeans']

['Shirt', 'Pant', 'Jeans']

In [ ]:
a

['Shirt', 'Pant']

In [ ]:
a=a+["Shoes","Tshirt"]

In [ ]:
a

['Shirt', 'Pant', 'Shoes', 'Tshirt']

In [ ]:
a.pop()   # to remove the item from the end

'Tshirt'

In [ ]:
a

['Shirt', 'Pant', 'Shoes']

In [ ]:
a.pop()

'Shoes'

In [ ]:
a

['Shirt', 'Pant']

In [ ]:
a=a+["Shoes","Tshirt"]          # concatenate multiple elements in the list

In [ ]:
a

['Shirt', 'Pant', 'Shoes', 'Tshirt']

#### List slicing and list operations

In [ ]:
a[0]

'Shirt'

In [ ]:
a[1]

'Pant'

In [ ]:
a[-1]

'Tshirt'

In [ ]:
a[1:3]    # [start: end+1: step]

['Pant', 'Shoes']

In [ ]:
num=[1,2,3,6,9,8,7,4,5,2,1,4,5,6,9,8,7]

In [ ]:
len(num)

17

In [ ]:
# Elements from 2nd to 7th item

num[2:8]

[3, 6, 9, 8, 7, 4]

In [ ]:
# 4th element from end
num[-4]

6

In [ ]:
# 4th  from end to last element

num[-4:]

[6, 9, 8, 7]

In [ ]:
# 4th  from end to last element

num1=num[-4:][-2]

In [ ]:
num1

8

In [ ]:
num

[1, 2, 3, 6, 9, 8, 7, 4, 5, 2, 1, 4, 5, 6, 9, 8, 7]

In [ ]:
# find out the even numbers from the list

for i in num:
    if i%2==0:
        print(i)

2
6
8
4
2
4
6
8

In [ ]:
# find out the even numbers from the list
even=[]
for i in num:
    if i%2==0:
        even.append(i)

In [ ]:
even

[2, 6, 8, 4, 2, 4, 6, 8]

In [ ]:
# find out the unique even numbers from the list
even=[]
for i in num:
    if i%2==0:
        if i not in even:
            even.append(i)

In [ ]:
even

[2, 6, 8, 4]

In [ ]:
even.sort()       # to sort the list in ascending order

In [ ]:
even

[2, 4, 6, 8]

In [ ]:
even=[]
for i in num:
    if i%2==0:
        if i not in even:
            even.append(i)

In [ ]:
even

[2, 6, 8, 4]

In [ ]:
even.sort(reverse=True)  # sort the list in the reverse

In [ ]:
even

[8, 6, 4, 2]

In [ ]:
even.reverse()

In [ ]:
even

[2, 4, 6, 8]

In [ ]:
even.extend([10,12,14])

In [ ]:
even

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
even.pop(2)   # remove element from specific index

6

In [ ]:
even.remove(8)  # remove a specific element

In [ ]:
even

[2, 4, 10, 12, 14]

In [ ]:
even.insert(2,'Mango')      # to insert an element at specific elements

In [ ]:
even

[2, 4, 'Mango', 10, 12, 14]

In [ ]:
message='Hi [name], Welocome to Board Infinity. Your Profile ID is [name]@boardinfinity.com and password is [name]@123'

name=input('Full Name: ').split()          # split() will break down a string in the list based on delimeter

Full Name: Ubaid Shah

In [ ]:
name

['Ubaid', 'Shah']

In [ ]:
print(f'Hi {name[0]}, Welocome to Board Infinity. Your Profile ID is {name[0].lower()}@boardinfinity.com and password is {name[0]}@123')

Hi Ubaid, Welocome to Board Infinity. Your Profile ID is ubaid@boardinfinity.com and password is Ubaid@123

In [ ]:
f_name='Ubaid'
l_name='Shah'
name=input('Full Name: ').split()

Full Name: Shah Ubaid

In [ ]:
name

['Shah', 'Ubaid']

In [ ]:
if name[0]==f_name:
    print(f'Hi {name[0]}, Welocome to Board Infinity. Your Profile ID is {name[0].lower()}@boardinfinity.com and password is {name[0]}@123')
else:
    print(f'Hi {name[1]}, Welocome to Board Infinity. Your Profile ID is {name[1].lower()}@boardinfinity.com and password is {name[1]}@123')

Hi Ubaid, Welocome to Board Infinity. Your Profile ID is ubaid@boardinfinity.com and password is Ubaid@123

In [ ]:
x=[1,2,3,4]
y=x

In [ ]:
y

[1, 2, 3, 4]

In [ ]:
z=y.copy()      # to copy the list

In [ ]:
z

[1, 2, 3, 4]

In [ ]:
z.clear()        # to clear the list completely

In [ ]:
z

[]

In [ ]:
del y          # to delete the list

In [ ]:
y

NameError: name 'y' is not defined

In [ ]:
x

[1, 2, 3, 4]

In [ ]:
del x[1:3]        # to delete the portion of the list

In [ ]:
x

[1, 4]

In [ ]:
e=[['mango','apple','cherry'],['Shirt','Pant','Tshirt']]          # to create list of the list

In [ ]:
e

[['mango', 'apple', 'cherry'], ['Shirt', 'Pant', 'Tshirt']]

In [ ]:
fruit=e[0]

In [ ]:
fruit

['mango', 'apple', 'cherry']

In [ ]:
fashion=e[1]

In [ ]:
fashion

['Shirt', 'Pant', 'Tshirt']

In [ ]:
e[1][-1]='Shoes'

In [ ]:
e

[['mango', 'apple', 'cherry'], ['Shirt', 'Pant', 'Shoes']]

#### List comprehension

A Python list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element in the Python list. 

Python List comprehension provides a much more short syntax for creating a new list based on the values of an existing list.


```
Syntax

newList = [ expression(element) for element in oldList if condition ] 
```

![](https://i.imgur.com/KtxIwBo.png)

In [ ]:
num=[1,2,3,6,9,8,7,4,5,2,1,4,5,6,9,8,7]
even=[]
for i in num:
    if i%2==0:
        even.append(i)
even

[2, 6, 8, 4, 2, 4, 6, 8]

In [ ]:
even1=[i for i in num if i%2==0]
even1

[2, 6, 8, 4, 2, 4, 6, 8]

In [ ]:
even_square=[i**2 for i in num if i%2==0]

In [ ]:
even_square

[4, 36, 64, 16, 4, 16, 36, 64]

In [ ]:
# Nested list comprehension
list_list = [[j for j in range(4)] for i in range(3)]
 
print(list_list)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [ ]:
# multiple conditions

quote='Courage is the power to let go of the familiar.'
vowels='aeiou'
vowels_list=[]
for i in quote:
    if i in vowels and i.islower():
        vowels_list.append(i)

In [ ]:
print(vowels_list)

['o', 'u', 'a', 'e', 'i', 'e', 'o', 'e', 'o', 'e', 'o', 'o', 'e', 'a', 'i', 'i', 'a']

In [ ]:
vowels_list_comprehensive=[i for i in quote if i in vowels and i.islower()]

In [ ]:
print(vowels_list_comprehensive)

['o', 'u', 'a', 'e', 'i', 'e', 'o', 'e', 'o', 'e', 'o', 'o', 'e', 'a', 'i', 'i', 'a']

In [ ]:
vowels_list_comprehensive==vowels_list

True

In [ ]:
# Nested IF with List Comprehension
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#  if...else With List Comprehension

obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
x=[i[::-1] for i in ('Hello','Board Infinity')]

In [ ]:
x

['olleH', 'ytinifnI draoB']

### Sets

![](https://i.imgur.com/5jcF0Vz.jpg)


A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. 

**Note:** to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

#### Set and Set Methods

In [ ]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun'}            # Create a set

In [ ]:
days                                                         # order will changed when we display

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [ ]:
print(days)                                                  # order will changed when we print

{'Tue', 'Wed', 'Fri', 'Sun', 'Sat', 'Thur', 'Mon'}

In [ ]:
days={'Mon','Tue','Wed','Thur','Fri','Sat','Sun','Mon'}       # set will not allow duplication

In [ ]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [ ]:
# to find out unique even numbers in ascending order
num=[1,2,3,5,9,2,6,9,4]
even=[]
for i in num:
    if i%2==0:
        even.append(i)

In [ ]:
even

[2, 2, 6, 4]

In [ ]:
even=set(even)

In [ ]:
even

{2, 4, 6}

In [ ]:
even=list(even)

In [ ]:
even

[2, 4, 6]

In [ ]:
# Set Items - Data Types
# Set items can be of any data type:


set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set can contain different data types:

set1 = {"abc", 34, True, 40, "male"}

In [ ]:
set_num=set((1,20,13,4,15,6,1,15,20))

In [ ]:
set_num

{1, 4, 6, 13, 15, 20}

In [ ]:
set_num.add(21)             # to add a specific element in the set

In [ ]:
set_num

{1, 4, 6, 13, 15, 20, 21}

In [ ]:
set_num.pop()             # to remove the random element from the set

4

In [ ]:
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed'}

In [ ]:
days.pop()

'Sat'

In [ ]:
days.remove('Mon')              # to remove a specific element from the set

In [ ]:
days

{'Fri', 'Sun', 'Thur', 'Tue', 'Wed'}

In [ ]:
my_set = {1, 3}

In [ ]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [ ]:
# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
# discard an element
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6, 8}

In [ ]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 2, 3, 5, 8}

In [ ]:
# discard an element
# not present in my_set
my_set.discard(6)
print(my_set)

{1, 3, 5, 8}

In [ ]:
# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(6)

KeyError: ignored

In [ ]:
# clear my_set
my_set.clear()
print(my_set)

set()

#### Set Operations

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

In [ ]:
set_A={1,2,5,6}
set_B={1,2,7,8}

##### Set Union
Union of set_A and set_B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the union() method.

In [ ]:
set_A.union(set_B)

{1, 2, 5, 6, 7, 8}

In [ ]:
set_A | set_B # Union

{1, 2, 5, 6, 7, 8}

##### Set Intersection
intersection of A and B is a set of elements that are common in both the sets.

Intersection is performed using & operator. Same can be accomplished using the intersection() method.

In [ ]:
set_A.intersection(set_B)

{1, 2}

In [ ]:
set_A & set_B   # Intesection

{1, 2}

##### Set Difference
Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of elements in B but not in A.

Difference is performed using - operator. Same can be accomplished using the difference() method.

In [ ]:
set_A.difference(set_B)

{5, 6}

In [ ]:
set_B.difference(set_A)

{7, 8}

In [ ]:
set_A-(set_B)

{5, 6}

In [ ]:
set_B-(set_A)

{7, 8}

##### Set Symmetric Difference
Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [ ]:
set_A.symmetric_difference(set_B)

{5, 6, 7, 8}

In [ ]:
set_A^(set_B)

{5, 6, 7, 8}

#### Frozenset

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. While tuples are immutable lists, frozensets are immutable sets.

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

Frozensets can be created using the frozenset() function.

This data type supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). 

Being immutable, it does not have methods that add or remove elements.

In [ ]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [ ]:
A.isdisjoint(B)

False

In [ ]:
A.difference(B)

frozenset({1, 2})

In [ ]:
A | B

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
A.add(3)

AttributeError: ignored

### Tuple

![](https://i.imgur.com/TKNnJub.jpg)

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [ ]:
a=()

In [ ]:
type(a)

tuple

Creating a tuple with one element is a bit tricky.

Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is, in fact, a tuple.

In [ ]:
b=(1)
type(b)

int

In [ ]:
c=('hello')
type(c)

str

In [ ]:
b=(1,)
type(b)

tuple

In [ ]:
c=('hello',)
type(c)

tuple

In [ ]:
location=(56.5,78.9)    #Geographical Coordinates
type(location)

tuple

In [ ]:
location1=56.5,78.9    # A tuple can also be created without using parentheses. This is known as tuple packing.
type(location1)

tuple

In [ ]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [ ]:
 # Tuples may be nest 
 t = 12345, 54321, 'hello!'
 u = t, (1, 2, 3, 4, 5)
 type(u)

tuple

In [ ]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
location_list=[56.5,78.9]
location_list[0]=60.0
location_list

[60.0, 78.9]

In [ ]:
# Tuples are immutable

location_tuple=56.5,78.9
location_tuple[0]=60.0
location_tuple

TypeError: ignored

#### Tuple slicing and tuple operations

We can use the index operator [] to access an item in a tuple, where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range(6,7,... in this example) will raise an IndexError.

The index must be an integer, so we cannot use float or other types. This will result in TypeError.

Likewise, nested tuples are accessed using nested indexing,

In [ ]:
color_code=(110,25,255)   #RGB color Codes

In [ ]:
green_col_code=color_code[1]                    # Grabing an element with index

In [ ]:
green_col_code

25

In [ ]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])

(2, 3, 4, 5, 6, 7)

In [ ]:
x=(4,5,6,9,8,7)
#element 0th index  to 3rd index element   
print(x[:4])

(4, 5, 6, 9)

In [ ]:
#element 1st to 4th element  
print(x[1:5])

(5, 6, 9, 8)

In [ ]:
x=(55,66,85,98,102,210,650,980,780,650)
# element 0th index to 6th index and take step of 2  
print(x[0:7:2])

(55, 85, 102, 650)

In [ ]:
tuple1 = (1, 2, 3,"Mango", 4, 5)    
# Negative indexing for accessing tuple elements
tuple1[-1]

5

In [ ]:
tuple1[-3:]

('Mango', 4, 5)

We can use + operator to combine two tuples. This is called concatenation.

We can also repeat the elements in a tuple for a given number of times using the * operator.

Both + and * operations result in a new tuple.

In [ ]:
a=(1,2)
b=a+(3,4)
b

(1, 2, 3, 4)

In [ ]:
a*2

(1, 2, 1, 2)

Methods that add items or remove items are not available with tuple. Only the following two methods are available.

In [ ]:
b

(1, 2, 3, 4)

In [ ]:
b.index(2)       # to check the index of the specific element in the tuple

1

In [ ]:
b.count(3)        # to count the number of the occurances of the element

1

In [ ]:
# Iterating through the tuple
a=("Hello","World","!")
for i in a:
    print(i)

Hello
World
!

### Dictionary
![](https://i.imgur.com/5Ex2seU.jpg)

Python dictionary is an unordered collection of items. Each item of a dictionary has a key/value pair.

Dictionaries are optimized to retrieve values when the key is known.

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. 

Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. 

You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append( ) and extend( ).

Creating a dictionary is as simple as placing items inside curly braces { } separated by commas.

An item has a key and a corresponding value that is expressed as a pair (key: value).

In [ ]:
# empty dictionary
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [ ]:
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [ ]:
input_list=[["T'shirt",300],["Watch",900],["Hat",200]]
price_lookup=dict(input_list)

In [ ]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 200}

#### Accessing Elements from Dictionary

While indexing is used with other data types to access values, a dictionary uses keys. Keys can be used either inside square brackets [] or with the get() method.

If we use the square brackets [], KeyError is raised in case a key is not found in the dictionary. On the other hand, the get() method returns None if the key is not found.

In [ ]:
price_lookup['Hat']

200

In [ ]:
price_lookup['Watch']

900

In [ ]:
price_lookup.get('Watch')

900

#### Changing and Adding Dictionary elements

Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator.

If the key is already present, then the existing value gets updated. In case the key is not present, a new (key: value) pair is added to the dictionary.

In [ ]:
price_lookup['Hat']=300

In [ ]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300}

In [ ]:
price_lookup['Shoes']=1500

In [ ]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300, 'Shoes': 1500}

In [ ]:
price_lookup.update({"Shoes":2000})        
# update() method updates the dictionary with elements from a dictionary object or an iterable object of key/value pairs.

In [ ]:
price_lookup

{"T'shirt": 300, 'Watch': 900, 'Hat': 300, 'Shoes': 2000}

#### Dictionary Operations

We can remove a particular item in a dictionary by using the pop() method. This method removes an item with the provided key and returns the value.

The popitem() method can be used to remove and return an arbitrary (key, value) item pair from the dictionary. All the items can be removed at once, using the clear() method.

We can also use the del keyword to remove individual items or the entire dictionary itself.

In [ ]:
fruits=dict(fruit_1="banana",fruit_2="Orange",fruit_3="Mango")  
fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [ ]:
new_fruits=fruits.copy()
new_fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

In [ ]:
new_fruits.pop('fruit_2')

'Orange'

In [ ]:
new_fruits

{'fruit_1': 'banana', 'fruit_3': 'Mango'}

In [ ]:
new_fruits.popitem()

('fruit_3', 'Mango')

In [ ]:
new_fruits

{'fruit_1': 'banana'}

In [ ]:
new_fruits.clear()                                                              # to empty

In [ ]:
new_fruits

{}

In [ ]:
new_fruits.update({"fruit_4":"Lichi","fruit_5":"Pinaaple"})          # to add new dictionary in to old dictionary

In [ ]:
new_fruits

{'fruit_4': 'Lichi', 'fruit_5': 'Pinaaple'}

In [ ]:
del new_fruits['fruit_4']                                           # to delete a specific k:v pair

In [ ]:
new_fruits

{'fruit_5': 'Pinaaple'}

In [ ]:
del new_fruits                                              # to delete a dictionary

In [ ]:
new_fruits

NameError: ignored

In [ ]:
fruits

{'fruit_1': 'banana', 'fruit_2': 'Orange', 'fruit_3': 'Mango'}

items( ) -- Return a new object of the dictionary's items in (key, value) format.
			
keys( ) -- Returns a new object of the dictionary's keys.

value( ) -- Returns a new object of the dictionary's values

In [ ]:
fruits.keys()

dict_keys(['fruit_1', 'fruit_2', 'fruit_3'])

In [ ]:
fruits.values()

dict_values(['banana', 'Orange', 'Mango'])

In [ ]:
fruits.items()

dict_items([('fruit_1', 'banana'), ('fruit_2', 'Orange'), ('fruit_3', 'Mango')])

In [ ]:
for i in fruits:
    print(i)

fruit_1
fruit_2
fruit_3

In [ ]:
for i in fruits.values():
    print(i)

banana
Orange
Mango

In [ ]:
for i in fruits.keys():
    print(i)

fruit_1
fruit_2
fruit_3

In [ ]:
for i in fruits.items():
    print(i)

('fruit_1', 'banana')
('fruit_2', 'Orange')
('fruit_3', 'Mango')

In [ ]:
for k,v in fruits.items():
    print(k,"--->>",v)

fruit_1 --->> banana
fruit_2 --->> Orange
fruit_3 --->> Mango

In [1]:
# To create a dictionary from two lists of tuple zip( ) is used
x=['Height','Weight','Gender']
y=[157,67,'Female']

z=zip(x,y)

In [2]:
z

In [3]:
info=dict(z)
info

{'Height': 157, 'Weight': 67, 'Gender': 'Female'}

In [4]:
list_info=list(z)
list_info

[]

In [5]:
tuple_info=tuple(z)
tuple_info

()

In [ ]:
age={'Foo': 33, 'Bar': 24, 'Martin': 24}

In [ ]:
max(age,key=age.get)                        # to find out the key having maximum value

'Foo'

In [ ]:
min(age,key=age.get)                        # to find out the key having minimum value

'Bar'

### Array
![](https://i.imgur.com/e6s4T0s.jpg)

An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).

For simplicity, we can think of an array a fleet of stairs where on each step is placed a value (let’s say one of your friends). Here, you can identify the location of any of your friends by simply knowing the count of the step they are on. 

Array can be handled in Python by a module named array. They can be useful when we have to manipulate only a specific data type values. 

A user can treat lists as arrays. However, user cannot constraint the type of elements stored in a list. 

If you create arrays using the array module, all elements of the array must be of the same type.

In [ ]:
# How to write an array
import array                                # importing array module from python library

arr = array.array('i', [7, 2, 0, -8])       # creating an array, mention the data type. here i is for integer
print(arr)

print(type(arr))

In [ ]:
arr = array.array('i', [7, 2, 0, -8, 55.55])             # array doen't supprort different data types
print(arr)

print(type(arr))

In [ ]:
arr = array.array('f', [7, 2, 0, -8, 55.55])             # array doen't supprort different data types
print(arr)                                               # f is for float

print(type(arr))

In [ ]:
arr = array.array('d', [7, 2, 0, -8, 55.55])             # array doen't supprort different data types
print(arr)                                               # d is for double

print(type(arr))

In [ ]:
arr = array.array('u', [7, 2, 0, -8, 55.55])             # array doen't supprort different data types
print(arr)                                               # 

print(type(arr))

In [ ]:
arr = array.array('u', ['7', '2', '0', '-8', '55.55'])             # array doen't supprort different data types
print(arr)                                               # 

print(type(arr))

In [ ]:
arr = array.array('u', ['a', 'b', 'c', 'd', 'e'])             # array doen't supprort different data types
print(arr)                                               # u for Unicode char

print(type(arr))

**Commonly used type codes are listed as follows:**


![](https://i.imgur.com/cgCAdaA.jpg)

#### Basic Operations on Array

In [ ]:
# 1. Length => total number of elements inside the array
# len(arrayName)

a1 = array.array('i', [7,0,1,-6,-8,10])
print(len(a1))

In [ ]:
# 2. Indexing => Return the element at defined position number
# arrName[pos]
#
a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1[2])
print(a1[-1])

In [ ]:
# 3. Slicing => Returns the chunk of array
# arrName[start : end : step size]
# start = 0
# end = length of seq
# step size = 1

a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1[0 : 4])

In [ ]:
# return the element at  odd pos only
print(a1[1 : : 2])

In [ ]:
# 4. Concatenation (+)
import array
a1 = array.array('i', [7,0,1,-6,-8,10])
a2 = array.array("d", [0.2, 5.2, -6.8, 4.2])
# # print(a1 + a2)
#
print(a1 + a1)
print(a2 + a2)
print(a1+a2)

In [ ]:
# 5. Repitition (*)

a1 = array.array('i', [7,0,1,-6,-8,10])
print(a1 * 5)

In [ ]:
# repeat the elements 8 times which are at position multiple of 3

print(a1[0 : : 3] * 8)

In [ ]:
# 6. Membership (in)
# Return TRUE if element is present inside the array

a1 = array.array('i', [7,0,1,-6,-8,10])
print(900 in a1)
print(0 in a1)

#### Array Methods

In [ ]:
# APPEND => inserting an elment to the end of the array
a1 = array.array('i', [2, 8, -3, 0, -4, 1])
a1.append(99)
# a1.append(-100)
# a1.append(0)
print(a1)

In [ ]:
# INSERT => inserts at defined position number
# arrName.insert(pos, value)

a1 = array.array('i', [2, 8, -3, 0, -4, 1])

# insert -100 at pos 4
# print(a1[4])
a1.insert(4, -100)
print(a1)

In [ ]:
# Updation
# arrayName[pos] = value

a1 = array.array('i', [2, 8, -3, 0, -4, 1])

# replace 0 by 9999
# print(a1[3])
a1[3] = 9999
print(a1)

In [ ]:
# modify the negative element to the square of it

for each in a1 :
    if each < 0 :
        pos = a1.index(each)
        a1[pos] = a1[pos] ** 2

print(a1)

In [ ]:
# Removing the element

# 1. remove by element VALUE, but only the first occurence of it
# arrayName.remove(element)

a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
a1.remove(0)

print(a1)

array('i', [2, 8, -3, -4, 1, 0])

In [ ]:
# 2. POP method
# removes the element from the end of the sequence and returns the element

a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
print(a1.pop())
# print(a1.pop())

0

In [ ]:
# 3. Count => returns the occurence of the element
# arrayName.count(element)

a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
print(a1.count(0))
# print(a1.count(-3))

2

In [ ]:

# 4. Reverse the array
# arrayName.reverse()


a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
a1.reverse()
print(a1)

array('i', [0, 1, -4, 0, -3, 8, 2])

In [ ]:
# 5. Extend
# inserting elements freom one array to another

a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
a2 = array.array("i", [-88, -77, -55])

a1.extend(a2)
print(a1)

array('i', [2, 8, -3, 0, -4, 1, 0, -88, -77, -55])

In [ ]:
# 6. Indexing => Return the position number of the element
# arrayName.index(elemtn)

a1 = array.array('i', [2, 8, -3, 0, -4, 1, 0])
print(a1.index(-4))
print(a1.index(2))

4
0